<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Beauty Planner · Cosmetics Collection</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header th:replace="~{index :: header}"></header>
</br></br></br>
<div class="container">
    <div class="row">
<!--        <ul>-->
            <h1>Collection</h1>
<!--        </ul>-->
    </div>
    <div class="row" align="right">
        <strong><a class="btn btn-warning" th:href="@{/cosmetics/new}">Add</a></strong>
    </div>
    </br>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Applications</th>
            <th>Price</th>
            <th>Destination</th>
            <th>Type</th>
            <th>Opening date</th>
            <th>Validity term</th>
            <th>Rate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cosmetic, cosmeticStat : ${cosmetics}">
            <td th:text="${cosmeticStat.count}"></td>
            <td th:text="${cosmetic.name}"></td>
            <td>
                <a th:text="${cosmetic.applicationsNumber}"></a>
                <a class="btn btn-primary" th:href="@{/cosmetics/{cosmeticId}/increaseApplications(cosmeticId=${cosmetic.id})}">+</a>
                <a class="btn btn-danger" th:href="@{/cosmetics/{cosmeticId}/decreaseApplications(cosmeticId=${cosmetic.id})}">-</a>
            </td>
            <td th:text="${cosmetic.price}"></td>
            <td th:text="${cosmetic.destination.getDestination()}"></td>
            <td th:text="${cosmetic.type.getType()}"></td>
            <td th:text="${cosmetic.openingDate} ? ${cosmetic.openingDate} : 'Not opened'"></td>
            <td th:text="${cosmetic.validityTerm}"></td>
            <td th:text="${cosmetic.rate}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/cosmetics/{cosmeticId}/edit(cosmeticId=${cosmetic.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/cosmetics/{cosmeticId}/delete(cosmeticId=${cosmetic.id})}">Delete</a>
                <a class="btn btn-info" th:href="@{/cosmetics/{cosmeticId}/cosmeticDetails(cosmeticId=${cosmetic.id})}">View</a>
                <a class="btn btn-success" th:href="@{/cosmetics/{cosmeticId}/addToFavourites(cosmeticId=${cosmetic.id})}">Favourites</a>
                <a class="btn btn-secondary" th:href="@{/cosmetics/{cosmeticId}/addToUsedUp(cosmeticId=${cosmetic.id})}">Used Up</a>
                <a class="btn btn-secondary" th:href="@{/cosmetics/{cosmeticId}/moveToWishList(cosmeticId=${cosmetic.id})}">Wish List</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>